.intro {
  position: relative;
  display: inline-block;
  font-family: 'IzhitsaRegular';
  text-align: center;
  background-size: cover;
  width: auto;
}

.intro span {
    color: rgb(16, 12, 12);
    border-radius: 2px;
    position: absolute;
    text-align: center;
    left: 10%;
    bottom: 60%;
    font-size: 18px;
    padding: 3px 5px;
}

.intro h1,
h2 {
  width: auto;
  margin: 1%;
}
