.workshop-photo {
  max-width: 120%;
  width: auto;
  height: 550px;
}

@media (max-width: 1200px) {
  .workshop-photo {
    height: 400px;
  }
}

@media (max-width: 800px) {
  .workshop-photo {
    height: 300px;
  }
}

@media (max-width: 600px) {
  .workshop-photo {
    height: 250px;
  }
}
