.container-video {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1%;
  width: auto;
  margin: 4%;
}

.video-text h2 {
  text-align: center;
}

.video-text {
  padding: 1%;
  width: 40%;
  margin: 2%;
}

@media (max-width: 640px) {
  .container-video {
    flex-direction: column;
  }
}
