.container-video {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1%;
  width: auto;
  height: auto;
  margin: 4%;
}


.iframe-block {
  flex-grow: 11;
  height: 100%;
  width: 100%;
  border: 2;
  border-radius: 20px;
  overflow: hidden;
}

.video-text h2 {
  text-align: center;
}

.video-text {
  padding: 1%;
  width: 40%;
  margin: 2%;
}


@media (max-width: 960px) {
  .container-video {
    flex-direction: column;
    height: auto;
  }
  .video-text {
    width: 100%;
  }
}
